body {
	background-color: #f1f1f1
}

header {
	background-color: hsl(180, 90%, 35%);
	color: #FFFFFF;
	margin: auto auto 60px auto;
	padding: 10px 0px 0px 0px;
	border-style: solid;

}



nav {
	background-color: hsl(180, 80%, 25%);

}



nav ul {
	margin: 0px;
	padding: 5px 0px 5px 30px;
	

}


nav li {
	display: inline;
	margin-right: 20px;



}


nav li:hover {
	
	background: hsl(180, 80%, 20%);

}

.nav-link {
	color: white;
	margin: 0px auto auto auto;
	display: inline;

}


.detail-card {
	border-style: solid;
	border-radius: 20px;
	/*width: 90%;
	height: 90%;*/
	background: linear-gradient(45deg, #CCFFFF, #FFCCCC);
	border-color: blue;
	margin-bottom: 100px;
	margin-top: 30px;


}

.detail-card-title {
	padding: 20px;
	font-size: 40px;
	font-family: sans-serif;
	text-align: center;
}

.project-detail-box {
	background-color: white;
	color: black;
	margin: auto;
	font-family: monospace;
	font-size: 20px;
	padding: 70px 10px 10px 100px;
	margin-top: 30px;
	border-style: solid;
	border-color: red;

	
}



.btn-primary:hover {
	background-color: darkblue;
}



.project-detail-title {
	margin: 50px 2px 45px 20px;
	width: 95%;
	
}




.title-box {
	margin: 50px 0px 50px 0px;
	padding: 2px;
	background-color: hsl(180, 80%, 15%);
	color: white;




}




.project-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}


.project-detail-box {
	margin-bottom: 50px;
}




a {
	color: white;
}


a:hover {
	color: white;
}




.projects-title {
	color: white;
	background-color: hsl(180, 80%, 20%);
	box-shadow: 10px 15px 10px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	padding: 5px;
}


