

header {
	background-color: hsl(180, 90%, 35%);
	color: #FFFFFF;
	margin: auto auto 20px auto;
	padding: 10px 0px 0px 0px;

}



nav {
	background-color: hsl(180, 80%, 25%);

}



nav ul {
	margin: 0px;
	padding: 5px 0px 5px 30px;
}


nav li {
	display: inline;
	margin-right: 20px;

}




.nav-link {
	color: white;
	border-style: solid;
	margin: 0px;
	display: inline;
}





